/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-image: url("/img/images (3).png");
  background-image: url("/img/bg_natural_sky2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
